html {
    scroll-behavior: smooth;
}

.fixed {
    position: fixed;
}

#totop {
    display: none;
}

.active {
    display: block!important;
}

.active-slide {
    display: flex!important;
    animation: anim 0.5s ease-in-out;
}

.non-active-slide {
    display: none!important;
}

.clubs-list ul.active li:first-of-type {
    animation: anim 0.4s ease-in-out forwards;
}
  
.clubs-list ul.active li:last-of-type {
    animation: anim 0.4s ease-in-out forwards;
    animation-delay: 0.2s;
}

@keyframes anim {
    0% {
        opacity: 0;
        transform: translateX(20px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
}

.wrong_rights {
    border-bottom: 2px solid #e22e2e;
}

.wrong_input {
    border: 2px solid #e22e2e!important;
}

.wrong_club {
    border: 2px solid #e22e2e;
    border-radius: 10px;
    padding: 10px;
}